.button {
  padding: 15px;
  border: none;
  margin: 5px;
  border: 1px solid white;
  cursor: pointer;
  background-color: transparent;
  transition: 0.2s all ease-in;
  color: white;
  font-size: 20px;
}

.button:hover {
  background-color: white;
  color: black;
}

@media (max-width: 520px) {
  .button {
    width: 60%;
    margin: 5px auto;
  }
}
